
venv/
.venv/


.idea/


.ipynb_checkpoints/


data/flickr30k_images/
data/*.csv
data/*.zip



scripts/stable-diffusion-webui/models/
scripts/stable-diffusion-webui/embeddings/

*.deepface/weights/

.DS_Store
Thumbs.db

